.progressbar_witdh {
    width: 25%;
}

.img_cover {
    height: 200px;
    width: 200px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
}

.witdh {
    width: 92%;
}

.btn-link-black {
    color: black;
}

.btn-link-black:hover {
    color: gray;
}

footer {
    background-color: #e6e6e6;
    height: 100px;
    margin-top: 15px;
    padding-top: 60px;
    padding-right: 25px;
    text-align: right;

}

header {
    background-color: #e6e6e6;
    height: 100px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.fas {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    color: darkblue;
}

.center-block {
    width: 25%;
    margin: 15px auto;
}
